---
layout: default
title: Denver Devs Hub
---

<div class="introduction">
	<h1>Denver Devs</h1>

	<p>A Slack community of developers, engineers, designers, makers, cultivators, and more.</p>

	<a href="http://join.denverdevs.org" class="btn">Join the community</a>
	<br />
	Already part of it? <br />Log in: <a href="http://denver-devs.slack.com">denver-devs.slack.com</a>
</div>

<div class="main-content">

	<section class="channels">
		<h2>Featured Slack Channels</h2>
		<p>We've got over 100 channels, sounds crazy right? It works though. Here are a few featured channels you'll get dropped in to right away:</p>
		<ul>
			<li><strong><a href="https://denver-devs.slack.com/messages/announcements/">#announcements</a></strong> - this is our default channel that you can't leave. It's usually quiet in here, but anyone is welcome to post an announcement regarding meetups, app/site launches, life announcements, and so on.</li>
			<li><strong><a href="https://denver-devs.slack.com/messages/general/">#general</a></strong> - general chit-chat goes on here, and you can leave it if it gets too noisy.</li>
			<li><strong><a href="https://denver-devs.slack.com/messages/help/">#help</a></strong> - stuck on a problem? Ask here. You may get redirected to a more specific #help channel (like #help-css), just to keep things tidy. </li>
			<li><strong><a href="https://denver-devs.slack.com/messages/intros/">#intros</a></strong> - say hello!</li>
			<li><strong><a href="https://denver-devs.slack.com/messages/topic-gigs/">#topic-gigs</a></strong> - drop open positions and "looking for work" posts here.</li>
			<li><strong><a href="https://denver-devs.slack.com/messages/topic-random/">#topic-random</a></strong> - anything you want (within reason)</li>
			<li><strong><a href="https://denver-devs.slack.com/messages/topic-community/">#topic-community</a></strong> - the place to discuss Denver Devs features, updates, ideas, and general community.</li>
		</ul>

		<p>Want to know more? Check out the Slack Guide we've made specifically for Denver Devs</p>
	</section>


  <section class="events">
		<h2>Events to check out</h2>
		<ul class="gridblock">
      {% for event in site.categories['events'] reversed %}
      <li>
        <a href="{{ event.link }}" target="_blank" alt="{{ event.title }}">{{ event.title }}</a> -
        {% assign day = event.date | date: "%-d" %}
        {% assign month = event.date | date: "%B" %}

        {{ month }}
        {% case day %}
          {% when '1' or '21' or '31' %}{{ day }}st
          {% when '2' or '22' %}{{ day }}nd
          {% when '3' or '23' %}{{ day }}rd
          {% else %}{{ day }}th
        {% endcase %}

        {% if event.end_date %}
          -
          {% assign end_day = event.end_date | date: "%-d" %}
          {% assign end_month = event.end_date | date: "%B" %}

          {% if month != end_month %}
            {{ end_month }}
          {% endif %}
          {% case end_day %}
            {% when '1' or '21' or '31' %}{{ end_day }}st
            {% when '2' or '22' %}{{ end_day }}nd
            {% when '3' or '23' %}{{ end_day }}rd
            {% else %}{{ end_day }}th
          {% endcase %}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
		{% if site.categories'events' != null %}
			<div class="note-info">Want your event displayed here too? Open a ticket and let us know the details and we'll add it to this document or even better submit a pull request!</div>
		{% else %}
			<div class="note-info">
			<h4>Dang! No events have been posted.</h4>
			<p>Help us out by adding an event here: either by opening a ticket or mentioning it to us in the Slack</p>
			</div>
		{% endif %}
  </section>


  <section class="meetups">
  		<h2>Meetups we <3</h2>

			{% assign entries = site.meetups | group_by: "category" | sort: "name" %}
			{% for entry in entries %}
			<ul class="gridblock">
				{% for item in entry.items %}
				<li>
					<a href="{{item.link}}" target="_blank">{{item.title}}</a>
					{% if item.slackLink %}
						<ul>
							<li><a href="{{item.slackLink}}" target="_blank">#{{item.slackChannel}}</a></li>
						</ul>
					{% endif %}
				</li>
				{%endfor%}
			</ul>
			{%endfor%}
  	</section>


  	<section class="around">
  	<h2>Denver Devs Around the Web</h2>

  		<h4><a href="https://github.com/Denver-Devs">Denver Devs Github Org</a></h4>
  		<p>We're working on some pretty cool projects together, including this page - you can request org membership in the Slack or by shooting us an email.</p>

  		<h4><a href="http://denverdevs.org/resources/">Resource Library</a></h4>
  		<p>Browse our library of videos, articles, tutorials, and more created by members of the community! Located at denverdevs.org/resources/</p>

  		<h4><a href="https://medium.com/denver-devs">Medium Publication</a></h4>
  		<p>Articles written by community members and published under the Denver Devs Publication. Join <a href="https://denver-devs.slack.com/messages/topic-medium">#topic-medium</a> on Slack for more info.</p>
  	</section>

  	<section class="coc">
  		<h2>Code of Conduct</h2>
  		<p name="CoC">
  		  Denver Devs is dedicated to providing a harassment-free experience for everyone, regardless of gender identity or expression, sexual orientation,
  		  disability, physical appearance, body size, race, religion or non-religion. We do not tolerate harassment of participants in any form. Harassment
  		  includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion,
  		  sexual images, deliberate intimidation, stalking, sustained disruption of discussions or other events, and unwelcome sexual attention.
  		  If a participant engages in behavior that violates this code of conduct, the organizers may take any action they deem appropriate,
  		  including warning the offender or expulsion from the group.
  		</p>

      <p>Direct Message <a href="https://denver-devs.slack.com/team/danhannigan">@danhannigan</a> on <a href="https://denver-devs.slack.com/team/danhannigan">Slack/<a href="https://twitter.com/danhannigan">
        Twitter</a> if you need help.</p>

      <p>Please be nice and respectful :) </p>
  	</section>

  </div>
