---
layout: default
title: Denver Devs Hub
---

<h1>Denver Devs Hub - Resources</h1>

{% assign groups = site.resources | group_by: "category" | sort: "name" %}

{% for group in groups %}
    {{ group.name }}
    {% for item in group.items %}

        <H2>{{item.abbrev}}</h2>
        <ul>
        <li>
          <a href="{{item.link}}">
          {{item.title}}
          {{item.author}}
          {{item.type}}
          </a>
        </li>
        </ul>
    {%endfor%}
{%endfor%}



<!-- <ul class="tags">
{% for resource in site.resources %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <li>{{t | downcase | replace:" ","-" }} has {{ posts | size }} posts</li>
{% endfor %}
</ul>


{% for tag in site.resources.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

{{ t | downcase }}
<ul>
{% for post in posts %}
  {% if post.tags contains t %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
  </li>
  {% endif %}
{% endfor %}
</ul>
{% endfor %} -->

{% for resource in site.resrouces.categories[JavaScript] %}
    <li>{{ resource.title }}</li>
{% endfor %}

<!-- {% for resource in site.resources %}
  <h2>{{ resource.title }}</h2>
  <h2>{{ resource.tags }}</h2>
{% endfor %} -->
