
$colorBlue:      #0064d4;
$colorBlue2:     #3125d2;
$colorRed:       #cc0000;
$colorLightGray: #efefef;


$mainAccent:     $colorBlue;
$secondAccent:   $colorBlue2;
$borders:        $colorLightGray;
$highlight:      $colorRed;
