
$colorBlue:      #1c364f;
$colorBlue2:     #132d7a;
$colorBlue3:     #236B8E;
$colorRed:       #cc0000;
$colorLightGray: #efefef;


$mainAccent:     $colorBlue;
$secondAccent:   $colorBlue2;
$thirdAccent:    $colorBlue3;
$borders:        $colorLightGray;
$highlight:      $colorRed;
