

.note {
    font-style: italic;
    font-size: 14px;
    color: #777;
    padding: 10px 15px;
    background: #efefef;
    border: 1px solid #ddd;
    margin-top: 15px;
}


.update {
    font-style: italic;
    font-size: 14px;
    color: #425573;
    padding: 10px 15px;
    background: #BAD5FF;
    border: 1px solid #95AFD8;
    margin-top: 15px;
}
